{% load i18n %}
{% load static %}
{% now "Y" as current_year %}


<link href="{% static '/static//css/agency.css' %}" rel="stylesheet">
<footer id= "footer" class="page-footer fixed-bottom">
<div style="text-align:center; font-size:12px; background-color:#444; color:white;">

<br />

      <div class="container">
        <div class="row">
          <div class="col-md-4">
                          <ul class="list-inline quicklinks">
              <li class="list-inline-item">
                &copy; {{ current_year }} Radcube
              </li>

            </ul>

          </div>
          <div class="col-md-4">
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            <ul class="list-inline quicklinks">
              <li class="list-inline-item">
                <a href="#">Privacy Policy</a>
              </li>
              <li class="list-inline-item">
                <a href="#">Terms of Use</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
<br /></div>
    </footer>

<script>
$(document).ready(function() {

    var docHeight = $(window).height();
    var footerHeight = $('#footer').height();
    var footerTop = $('#footer').position().top + footerHeight;


    if (footerTop < docHeight)
        $('#footer').css('margin-top', 10+ (docHeight - footerTop) + 'px');
});

</script>
