{% extends "site_base.html" %}
{% block body_base %}
     <button type="button"><a href="/search/user_profile/">other Details</a></button>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if user_profile %}
        <div class="form_dataa">

             {% for user in user_profile %}


                    <div class="imge">
                        <p class="uname">firstname</p>
                        <h3 class="uname" >{{user.firstname}} </h3>
                    </div>

                    <div class="lstname">
                    <p class="lstname">Lastname</p>
                        <h3 class="lstname">{{user.lastname}} </h3>
                        </div>
                        <div class="date">
                                <p>Date of Birth</p>
                                <h3 class="dtet">{{user.date_of_birth}}</h3>
                        </div>

                        <div class="gender">
                            <p class="gender">Gender</p>
                            <h3 class="gender">{{user.gender}}</h3>
                        </div>
                 <div class="image">
                            <p class="image">Image</p>
                    <h3> <img src="/site_media/media/{{user.aimage}}/" height="100px" width="100px"></h3>


                        </div>

<div class="btnnn">
                 <a href="/search/edit_info/"><img src="https://cdn1.iconfinder.com/data/icons/basic-ui-elements-color/700/09_pencil-512.png" height="30" width="30">Edit</a>
</div>
                 <p>
    <button type="button"><a href="/search/update_password/">Reset password</a></button>
                 </p>




{% endfor %} {% else %}
        No Data found
{% endif %}




{% endblock %}