{% extends "site_home.html" %}


{% block body_base %}
     <script type="text/javascript">
function reveal()
{
if(document.getElementById('box').checked)
   {document.getElementById("pw").type='text';}
else
document.getElementById("pw").type='password';
}
</script>

<script type="text/javascript">

  function checkPassword(str)
  {
    var re = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}$/;
    return re.test(str);
  }

  function checkForm(form)
  {

    if(form.password.value != "" && form.password.value == form.confirmpassword.value) {
      if(!checkPassword(form.password.value)) {
        alert("The password you have entered is not valid it must contains one lowercase,one uppercase and one speacial character,!");
        form.password.focus();
        return false;
      }
    } else {
      alert("Error: Please check that you've entered and confirmed your password!");
      form.password.focus();
      return false;
    }
    return true;
  }

</script>
       <script type="text/javascript">
function reveals()
{
if(document.getElementById('boxi').checked)
   {document.getElementById("pw1").type='text';}
else
document.getElementById("pw1").type='password';
}
</script>

<form class="reset_pssswrd" method="POST" action="" onsubmit="return checkForm(this);">
<div class="form_innr">
{% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% csrf_token %}
<div class="ddd">
    <label for="password"><b>New Password</b></label>
    <input type="password" placeholder="Enter Password" id="pw" name="password" required>
</div>

<div class="bbxx"><span class="shw"><input type="checkbox" id="box" onclick ="reveal()">show password</span></div>

<br>
<div class="ddd">
    <label for="confirmpassword"><b>Retype New Password</b></label>
    <input type="password" placeholder="Retype Password" id="pw1" name="confirmpassword" required>
</div>

    <div class="bbxx"><span class="shw"><input type="checkbox" id="boxi" onclick ="reveals()"> show password </span></div>
        <br>
<div class="btn_btn">
    <input type="hidden" name="email" value="{{ email }}"/>
     <button type="submit" class="signupbtn">Save password</button>
 <a href="/crud/signin/"><button type="button" class="cancelbtn">Cancel</button></a>
</div>

</div>
</form>
{% endblock %}
