{% load i18n %}
{% load account_tags %}
{% load static %}

    <link href="{% static '/static/polymer_components/polymer/polymer.html' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="{% static '/static//css/agency.css' %}" rel="stylesheet">
<style>

.col-xs-1{width:3%;}
.col-lg-11{
    width:97%;
}
a:visited {color:#A4d555;}


    #sidenavbox{

        border-bottom: 2px solid #ccc;
        background-color: #222;
        text-align: center;
        font-size: larger;

    }

    #sidenavbox:hover{

        background-color: #333;
        text-align: center;
        font-size: larger;
    }
    #botnavitem:hover{
    color: #4183C4;
    }

</style>

