{% extends "site_base.html" %}


{% block body_base %}
    {% if event_users %}

        <div class="form_data">
             {% for user in event_users %}


                    <div class="img">
                        <p class="unam">UserName</p>
                        <h3 class="unam" >{{user.username}} </h3>
                    </div>

                    <div class="detail">
                    <p class="eml">email</p>
                        <h3 class="eml">{{user.email}} </h3>
                        </div>
                        <div class="date_tm">
                                <p>Conditions</p>
                                <h3 class="dtt">{{user.conditions}}</h3>
                        </div>

                        <div class="cateog">
                            <p class="categ">Category</p>
                            <h3 class="categ">{{user.category}}</h3>
                        </div>
                        <div class="cateog">
                            <p>Message</p>
                            <h3>{{user.message1}}</h3>
                        </div>
                        <div class="descri">
                            <p>Message</p>
                            <h3>{{user.message2}}</h3>
                        </div>


{% endfor %} {% else %}
        No Data found
{% endif %}
{% endblock %}